%h2= @artist.name? ? @artist.name : @artist.id
- @artist.albums.each do |album|
	.album
		%h3=album.name
		=image_tag album.art.url(:thumb)
		%ol
			-album.songs.each do |song|
				%li=link_to (song.title? ? song.title : song.id), add_path(song.id)