%h1 Welcome ot the automated web setup for Rails DJ!

%p Rails DJ is based on the gem "play", the guys who created that gem are awesome so credits to them! This Rails application was created with the same idea in mind but with more options! Enjoi it!

= link_to "Set the damn thing up!", new_setup_path