/* This application is for 45north use only and for that reason the style is unconventional, ugly and shouldn't be copied by anyone. */

@import url("cssreset.css");

body {font-family:"Myriad Pro", Helvetica, Arial, Sans-Serif; font-size:14px; color:#000; background:#1594be; line-height:1.2em;}
h1, h2, h3, p {margin:0 0 10px 0;}
h1 {font-size:20px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}
a {text-decoration:none; color:#000;}
a:hover {color:#3d45a4;}

div#main {width:965px; position:absolute; margin:0 0 0 -575px; left:59%;}

div#wrapper {width:650px; margin:20px 0 20px 0; left:0; position:absolute; z-index:2;}
div#content {-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; border:#0C5270 solid 5px; background:#eee; padding:20px; min-height:600px;}
div#content ul.trackList li.track {margin:0 0 5px 0; display:block;}
div#content table.trackList th {text-align:left; padding:0 10px 0 0;}
div#content table.trackList td {padding:0 10px 0 0;}
div#content table.trackList tr.even {background:#F8F8F8;}

div#content div.album {margin:0 0 5px 0; border-bottom:1px solid #C1C1C1;}
div#content div.album h3 {margin:0 0 5px 0;}
div#content div.album ol {margin:0 0 5px 20px; list-style-type:decimal;}
div#content div.album ol li {padding:0 15px 0 0;}

div#nowPlaying { background:#7cbce2; padding:15px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:inset 0 0 4px #0C5270; -moz-box-shadow:inset 0 0 4px #0C5270; box-shadow:inset 0 0 4px #0C5270; text-align:center; line-height:1.5em; overflow: auto; font-size: 16px;}
div#nowPlaying #nowPlayingAlbum { float: left; width: 100px; height: 100px; }
div#nowPlaying #nowPlayingInfo { float: left; width: 470px; }
div#nowPlaying #nowPlayingButtons { float: left; width: 470px; margin-top: 10px; text-align: center; }

div#playlist {border-bottom:1px solid #C1C1C1; padding:0 0 15px 0; margin:25px 0 10px 0;}
div#playlist h1 {margin-bottom: 20px;}

ul#menu { width: 100%; overflow: auto; margin: 20px 0px; }
ul#menu li { float: left; margin-right: 15px; font-size: 18px; height: 20px; }

div#userDrawer {width:300px; position:absolute; right:0; height:auto; margin:40px 0 0 0; z-index:1; border:#0C5270 solid 5px; background:url('/images/userDrawerBg.jpg') repeat-y #DFDFDF; padding:5px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
div#userDrawer ol {list-style-type:decimal; padding:0 0 0 15px; margin:0 0 5px 0;}
div#userDrawer div.user {overflow: auto; border-bottom:1px solid #C1C1C1; margin:15px;}
div#userDrawer div.user:last-child {border: 0;}
div#userDrawer div.user div.userImage {width:70px; height:70px; float:left; margin-right: 15px;}
div#userDrawer div.user div.userImage div.avatar {-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; width:70px; height:70px;}
div#userDrawer div.user div.userImage div.lensFlare {background:url('/images/lensFlare.png'); width:70px; height:70px; z-index:2; border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; position:absolute;}
div#userDrawer div.user div.userInfo {height:70px; width:185px; text-transform:capitalize; float:left;}
div#userDrawer div.user div.userInfo p {padding:20px 0 0 0;}
div#userDrawer div.user div.userInfo img {vertical-align:text-bottom;}
div#userDrawer div.user div.userData {float: left; margin: 15px 0px;}